<hgroup class="brand">
    <div>
        <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
        {% if site.subtitle %}
        <h2>{{ site.subtitle }}</h2>
        {% endif %}
    </div>
</hgroup>

<hgroup class="identity-icons">
    <a href="https://twitter.com/arrogantgamer"><img src="/images/icons/twitter-128.png" alt="twitter profile"></a>
    <a href="http://gamejolt.com/profile/arrogant-gamer/139947/"><img src="/images/icons/gamejolt-128.png" alt="gamejolt profile"></a>
    <a href="https://github.com/variousauthors"><img src="/images/icons/github-128.png" alt="github profile"></a>
</hgroup>
