body > header {
  background: $header-bg;
  border-left: 1px solid $page-border-bottom;

  @media only screen and (max-width: 1200px) {
      hgroup.brand:before {
          background: url("/images/avatar_face.png") repeat scroll 0 0 / 100px 100px rgba(0, 0, 0, 0);
          border-radius: 100px;
          content: "";
          display: inline-block;
          height: 100px;
          width: 100px;
          margin-right: 10px;
      }
  }

  div {
      display: inline-block;
      vertical-align: top;
  }

  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }

  .identity-icons {
      position: absolute;
      right: 1%;
      top: 1%;

      img {
          width: 64px;
          height: 64px;
          border-radius: 32px;
          background-color: $base0;
          @include transition(background-color 0.5s);

          &:hover {
              background-color: $solar-orange;
              @include transition(background-color 0.7s);
          }

          @media only screen and (max-width: 768px) {
              display: none;
          }
      }
  }
}
