---
layout: default
no_header: true
---

<div class="blog-index">
  {% assign index = true %}

  {% comment %}We want to show at least 3 boxes, so that the screen size works{% endcomment %}
  {% if paginator.posts.size < 3 %}
      {% assign upper = 2 %}
  {% else %}
      {% assign upper = paginator.posts.size - 1 %}
  {% endif %}

  {% for i in (0..upper) %}
      {% assign post = paginator.posts[i] %}


      {% comment %}The spacer articles will be empty and visually hidden {% endcomment %}
      {% if post %}
          {% assign content = post.content %}
      {% else %}
          {% assign content = "" %}
      {% endif %}

      <article>
          {% include article.html %}
      </article>
  {% endfor %}
  <div class="pagination">
    {% if paginator.next_page %}
      <a class="prev" href="{{paginator.next_page}}">&larr; Older</a>
    {% endif %}
    <a href="/blog/archives">Blog Archives</a>
    {% if paginator.previous_page %}
    <a class="next" href="{{paginator.previous_page}}">Newer &rarr;</a>
    {% endif %}
  </div>
</div>
<aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
