// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background-image: url("/images/ziggy.png");
  background-position: -1028px 52px;
  background-repeat: repeat-x;
  background-color: white;
  min-height: 3285px;
}

body {
  max-width:none;
}

hgroup {
  text-align:right;
}

hgroup > h1 > a {
  color: black;
}

body > header {
  background:none;
}

header > small {
  color: #AAAAAA;
  font-size: 1em;
  font-weight: normal;
  margin: 0.2em 0 0;
}

img.left-side {
  float:left;
  margin-right: 15px;
}

blockquote.imagine-with-me {
  background-color: rgba(251, 177, 15, 0.35);
  border-left: 2px solid #FBB10F;
  border-radius: 5px 5px 117px 5px;
  border-top: 2px solid #FBB10F;
  padding-bottom: 1px;
  padding-right: 1em;
  padding-top: 1em;
}

img.right-side {
  float:right;
  margin-left: 15px;
}

.entry-content > p {
  font-size: medium;
}

/* roundedness
 * the top right and left corners of the content well are rounded
 */
#main {
  border-radius: 10px 10px 0 0;
  max-width:1200px;
}

body > footer {
  max-width:1200px;
  padding-left:0;
  padding-right:0;
  margin:0 auto;
}

body > footer p {
  margin-left: 25px;
}

blockquote {
  font-size: small;
}

.feathers {
  margin-left:15px;
}

#content, .blog-index {
  border-radius: 10px 0 0 0;
}

aside {
  border-radius: 0 10px 0 0;
}

.toggle-sidebar:hover {
  border-radius: 0 10px 0 0;
}
