// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

figure.half-width {
  width: 50%;
  float: right;
  padding-left: 15px
}

figure.half-width-left {
  width: 50%;
  float: left;
  padding-right: 15px
}
